
<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="accent"
  maxWidth="auto"
  proportion="25"
  slides="3"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide class="img"
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide"
    overlayColor="#00000040"
    [hideOverlay]="false"
  >
</mat-carousel-slide>
</mat-carousel>

<mat-card>
  <mat-card-header>
      <mat-card-title>Demo Projid</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h2>Techno Back</h2>
<p>RESTful APIs Laravel</p>
<dfn>réutilisation de composants pouvant être gérés et mis à jour sans affecter le système global par retour de ressources en JSON</dfn>
<p></p>
<p>Authentification par Json Web Token</p>
<dfn>Utilisation de restriction de routes par middleware </dfn>
<p></p>
<p>ORM eloquent</p>
<p></p>
<p>TODO</p>
<dfn>unit tests</dfn>
    <h2>Techno front</h2>
      <p>Angular 8</p>
      <dfn>application généré par angular CLI</dfn>
      <p></p>
      <p>lazy loading Modules</p>
      <dfn>les différentes pages de l'application sont chargées à la demande pour ne pas surcharger le module principale</dfn>
      <p></p>
      <p>Angular Matérial</p>
      <p></p>
      <p>progarmation réactive</p>
      <dfn>utilisation du pattern Observer pour la communication entre commposant</dfn>
      <p></p>
      <p>Angular routing & Guard</p>

  </mat-card-content>
</mat-card>
