<div class="card m-3 padded">
  <h5 class="card-header">Inscription</h5>
  <div class="card-body">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Nom" formControlName="name">
          <mat-error *ngIf="errorHandling('name', 'required')">Name is required</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="errorHandling('email', 'required')">Email is required</mat-error>
          <mat-error *ngIf="errorHandling('email', 'email')">Email not valid</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input matInput type="password" placeholder="Mot de passe" formControlName="password">
          <mat-error *ngIf="errorHandling('password', 'required')">Password is required</mat-error>
          <mat-error *ngIf="errorHandling('password', 'minlength')">Password must be at least 8 characters</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input matInput type="password" placeholder="Confirmer le mot de passe" formControlName="confirmPassword">
          <mat-error *ngIf="errorHandling('confirmPassword', 'required')">Confirm password is required</mat-error>
          <mat-error *ngIf="errorHandling('confirmPassword', 'mustMatch')">cofirm Password not match</mat-error>
        </mat-form-field>
      </div>

      <!-- Submit -->
      <div class="button-wrapper">
        <button mat-flat-button color="primary">Submit</button>
      </div>

    </form>
  </div>
</div>