a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.nav-caption{
    display: inline-block;
    padding-left: 6px;
}

img {
    border: 2px solid #212133;
}

.mat-nav-list {
    background-color: #52585f !important;
}