<p *ngIf="loadingProcess" [@flyInOutAnimation]>loading ...</p>

<p *ngIf="!loadingProcess && !currentAvatar" [@flyInOutAnimation]>NO profil avatar !</p>

<mat-card *ngIf="!loadingProcess && currentAvatar" [@flyInOutAnimation]>
  <mat-card-header>
  </mat-card-header>

  <mat-card-content>
    <mat-list class="container" role="list">
      <mat-list-item role="listitem" class="id-avatar">
        <img class="portraitImg" matListAvatar [src]="currentAvatar.portrait_url" alt="avatar default">
        <p matLine *ngIf="currentAvatar.grade && currentAvatar.guild">
          <mat-card-title class="title-name">{{currentAvatar.name}} </mat-card-title>
        </p>
        <p matLine>
          <mat-card-title>LvL 1 </mat-card-title>
        </p>
        <p matLine *ngIf="currentAvatar.grade && currentAvatar.guild">
          <mat-card-title>{{currentAvatar.grade.name}} de la guilde "{{ currentAvatar.guild.name }}" </mat-card-title>
        </p>
      </mat-list-item>
      <mat-list-item class="skill-chart">
        <div class="chart-wrapper">
          <canvas baseChart 
          height="200px"
            [datasets]="radarChartData" [options]="radarChartOptions" [labels]="radarChartLabels"
            [legend]="barChartLegend" [chartType]="radarChartType" [colors]="chartColors">
          </canvas>
        </div>
      </mat-list-item>
    </mat-list>
   
  </mat-card-content>
  <mat-card-actions class="action-container">
    <button mat-button (click)="updateAvatar()">modifier</button>
    <button mat-button (click)="deleteAvatar()">supprimer</button>
  </mat-card-actions>
</mat-card>